@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: rgb(176, 216, 233);
}
header .head {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  justify-content: space-between;
  font-size: 120%;
  font-weight: 600;
}
header .head .account {
  min-width: 15%;
  text-align: right;
}
header .head .account a {
  float: left;
}

nav .navbar {
  max-width: 1200px;
  padding: 10px 10px 10px 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
nav .navbar ul {
  list-style-type: none;
}
nav .navbar ul li {
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
}
nav .navbar ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(129, 129, 175);
}
nav .navbar ul li .dropdown-content {
  display: none;
  width: 200px;
  position: absolute;
}
nav .navbar ul li .dropdown-content a {
  display: block;
  padding: 10px 20px;
  color: black;
  font-weight: 200;
  font-size: 16px;
}
nav .navbar ul li .dropdown-content a:hover {
  background: rgb(151, 246, 169);
}
nav .navbar ul .hover1:hover .hover1 a {
  color: rgb(19, 19, 68);
}
nav .navbar ul .hover1:hover #ddContent1 {
  display: block;
  background: white;
}
nav .navbar ul .hover2:hover #ddContent2 a {
  color: rgb(11, 11, 117);
}
nav .navbar ul .hover2:hover #ddContent2 {
  display: block;
  background: white;
}

.container1 {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-margin: none;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 600px;
}
.container1 .slider1 {
  background: white url("img/your-health.jpg") no-repeat center;
  background-size: cover;
  margin: auto;
  aspect-ratio: 23.5/9;
  display: flex;
  align-items: center;
  scroll-snap-align: center;
  height: 100%;
  width: 100vw;
}
.container1 .slider1 .main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.container1 .slider1 .main .left {
  width: 40%;
}
.container1 .slider1 .main .left .bold {
  font-size: 450%;
  font-weight: 800;
  color: rgb(109, 109, 228);
}
.container1 .slider1 .main .right {
  width: 35%;
}
.container1 .slider1 .main .right a {
  display: block;
  text-decoration: none;
  width: 100%;
  font-size: 25px;
  background: white;
  padding: 20px;
  border-bottom: 1.5px solid rgb(213, 207, 207);
}
.container1 .slider1 .main .right a i {
  padding: 10px;
}
.container1 .slider1 .main .right a:hover {
  background: transparent;
}
.container1 .slider1 .main .right div {
  background: rgb(65, 25, 25);
  color: white;
  text-align: center;
}
.container1 .slider1 .main .right div p {
  font-size: 80%;
  font-weight: 700;
}
.container1 .slider1 .main .right div a {
  display: inline-block;
  font-size: 13px;
  width: 40%;
  padding: 10px 20px;
  line-height: 1;
  margin: 20px 5px;
  border-radius: 40px;
  border: none;
}
.container1 .slider1 .main .right div a i {
  font-size: 160%;
  float: left;
  padding: 2px;
}
.container1 .slider1 .main .right div .btn1 {
  background: white;
  color: black;
}
.container1 .slider1 .main .right div .btn1:hover {
  background: black;
  color: white;
}
.container1 .slider1 .main .right div .btn2 {
  background: rgb(184, 184, 54);
  color: white;
}
.container1 .slider1 .main .right div .btn2:hover {
  background: white;
  color: rgb(184, 184, 54);
}
.container1 .slider1 .main .right div .bold {
  font-size: 30px;
}
.container1 .slider2 {
  background: white url("img/slide-2.webp") no-repeat center;
  background-size: cover;
  margin: auto;
  aspect-ratio: 23.5/9;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  scroll-snap-align: center;
}
.container1 .slider2 .main {
  max-width: 1200px;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.container1 .slider2 .main div {
  width: 50%;
}
.container1 .slider2 .main div .bold {
  font-size: 450%;
  font-weight: 800;
  color: rgb(109, 109, 228);
}
.container1 .slider2 .main div a {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 20px;
  margin: 20px 5px;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  background: rgb(224, 172, 13);
  border: 1px solid white;
}
.container1 .slider2 .main div a:hover {
  color: rgb(224, 172, 13);
  background: white;
  border: 1px solid rgb(224, 172, 13);
}/*# sourceMappingURL=style.css.map */